# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.thegame.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Computer\Desktop\team4\src\.idea\.idea.thegame.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
